# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
    push:
        branches:
            - main  # Nur auf Pushes zur Hauptbranche
        paths-ignore:
            - 'misc/**'
            - 'README.md'
    pull_request:
        branches:
            - main  # Nur für Pull-Requests zu Main
        paths-ignore:
            - 'misc/**'
            - 'README.md'

jobs:
    properties:
        runs-on: ubuntu-24.04

        concurrency:
            group: "java-build-${{ github.ref }}"
            cancel-in-progress: true  # Abbrechen des aktuellen Builds bei neuem Commit


        strategy:
            matrix:
                java: [ 21 ]
                distribution: [ 'temurin' ]

        name: Build and Test Java ${{ matrix.java }} on ${{ matrix.distribution }}

        steps:
            # Schritt 1: Code aus dem Repository auschecken
            -   name: Checkout Repository
                uses: actions/checkout@v4

            # Schritt 2: Java JDK Setup
            -   name: Setup java ${{ matrix.java }}
                uses: actions/setup-java@v4
                with:
                    distribution: ${{ matrix.distribution }}
                    java-version: ${{ matrix.java }}

            # Schritt 3: Cache Maven-Abhängigkeiten
            -   name: Cache Maven dependencies
                uses: actions/cache@v5
                with:
                    path: ~/.m2/repository
                    key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}  # Cache-Key basiert auf pom.xml
                    restore-keys: |
                        ${{ runner.os }}-maven-

            # Schritt 4: Maven Clean und Test ausführen
            -   name: Run Maven Clean and Test
                run: mvn clean test